<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="jquery-1.4.3.min.js"><\/script>')</script>
<script src="jquery.raptorize.1.0.js"></script>
<script type="text/javascript">
     $(window).load(function() {
          $('.myButton').raptorize();
     });
</script>
<button class="myButton">lalalalla</button>
