<!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<div id="scrolltop_block_home" class="block">
  <div class="block_content">
<!--     <p>Hello,
       {if isset($my_module_name) && $my_module_name}
           {$my_module_name}
       {else}
           World
       {/if}
       !       
    </p> -->   
    <div id="scroll"></div>
    <script type="text/javascript">
    $(document).ready(function(){
    $('#scroll').click(function(){
    $("html, body").animate({ scrollTop: 0}, 600);
    return false;
  });
});
    </script>
  </div>
</div>